article h1, article h2, article h3, article h4, article h5, article p {
    margin-bottom: 24px;
    padding: 0;
}
article h1 {
    font-size: 48px;
}
article h2 {
    font-size: 36px;
    margin: 24px 0 6px;
}
article h3 {
    font-size: 24px;
}
article h4 {
    font-size: 21px;
}
article h5 {
    font-size: 18px;
}

article ul { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
    list-style-type: disc; 
    list-style-position: inside; 
    margin: 10px 0 10px 15px;
}
article ol { 
    list-style-type: decimal; 
    list-style-position: inside;
    margin: 10px 0 10px 15px; 
    text-indent: 10px;
}
article ul li, article ol li { 
    margin: 0 0 0; 
    padding: 0; 
}
article ul ul, article ol ul { 
    list-style-type: circle; 
    list-style-position: inside; 
    margin-left: 15px;
}
article ol ol, article ul ol { 
    list-style-type: lower-latin; 
    list-style-position: inside; 
    margin-left: 15px; 
}

/* Ensure the first paragraph aligns flush with the bullet */
article li > p:first-of-type {
    display: inline; /* Display the paragraph as an inline element */
    margin: 0; /* Remove any default margin */
    text-indent: 0; /* Ensure no indent */
  }
  
  /* Add spacing only for subsequent paragraphs */
  article li > p:not(:first-of-type) {
    margin-top: 0.5em; /* Add some spacing above the second paragraph */
  }
  
  article blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  article blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  article blockquote p {
    display: inline;
  }
  